* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

section {
  background-color: white;
  padding: 20px;
  margin-top: 30px;
}

.notification {
  margin-top: 20px;
  margin-right: 15px;
}

.navbar {
  height: 80px;
  background-color: white;
}

.modal {
  .modal-body {
    padding: 50px;
  }

  .modal-header {
    padding: 30px;
  }

  .modal-footer {
    padding: 20px;

    button {
      background-color: black;
      color: white;
    }
  }
}

.has-error {
  input {
    border-color: red;
    color: red;
  }

  label {
    color: red;
  }

  textarea {
    border-color: red;
  }

  .error {
    color: red;
  }

  .book-v2 {
    background-color: white;
    padding: 50px;
    display: flex;
    gap: 100px;
    margin-bottom: 50px !important;
  }

  .footer {
    background-color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;

    .action {
      display: flex;
      gap: 20px;
    }

    button {
      background: #000;
      color: white;
      width: 100px;
      height: 40px;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;

  .action {
    display: flex;
    gap: 20px;

    button {
      background: #000;
      color: white;
      width: 100px;
      height: 40px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
  }
}

.footer {
  button {
    background: #000;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}
