@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: InterRegular;
  src: url("./assets/fonts/Inter-Regular-slnt=0.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: InterRegular;
}

p {
  font-size: 18px;
}

@layer base {
  :root {
    --color-primary: #000000;
    --color-secondary: #ffffff;
  }
}

.theme-cyan {
  --color-primary: #b3ffab;
  --color-secondary: #12fff7;
}

.theme-orange {
  --color-primary: rgb(248, 198, 105);
  --color-secondary: rgb(255, 77, 77);
}

.theme-purple {
  --color-primary: #e398fa;
  --color-secondary: #8f00ff;
}

.theme-blue {
  --color-primary: #40c9ff;
  --color-secondary: #e81cff;
}
